{
  "db": {
    "ip": "192.168.0.1",
    "port": 1521,
    "username": "changeme",
    "password": "changeme",
    "dbname": "changeme"
  },
  "regional_values": {
    "pasture": 111.11,
    "arable": 222.22,
    "permaCrop": 333.33
  }
}
